.react-grid-layout {
    position: relative;
    transition: height 150ms ease;
}
.react-grid-item {
    transition: all 150ms ease;
    transition-property: transform;
}
.react-grid-placeholder {
    background: #777;
    opacity: 0.2;
    transition-duration: 1ms;
    z-index: 2;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}
.react-grid-item.react-draggable-dragging {
    transition: none;
    z-index: 3;
}
.react-draggable {
    position: relative;
}
.react-draggable-active {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}
